@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{

    --color-primary-orange:#e38826;
    --color-primary-dark-cyan:#006970;
    --color-primary-very-dark-cyan:#004241;

    --color-neutral-transparent-white:#ffffffbf;
    --color-neutral-very-light-gray: #f2f2f2;

    --font01:'Lexend Deca', sans-serif;
    --font02:'Big Shoulders Display', cursive;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-neutral-very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
}
.conteiner{
    display: flex;
}
.card{
    background-color: var(--color-primary-orange);
    width: 13rem;
    height: 25rem;
    padding: 3rem;
    position: relative;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.title-car{
    font-family: var(--font02);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-neutral-very-light-gray);
}
.descrison{
    color: var(--color-neutral-transparent-white);
    font-family: var(--font01);
    font-family: 400;
    line-height: 1.6rem;
}
.btn{
    border-radius: 45px;
    background-color: var(--color-neutral-very-light-gray);
    color: var(--color-primary-orange);
    font-family: var(--font01);
    font-weight: 400;
    height: 3rem;
    width: 9rem;
    border: none;
    position: absolute;
    bottom: 3rem;
}
.btn:hover{
    color: var(--color-neutral-transparent-white);
    background-color: transparent;
    border: 2px solid var(--color-neutral-transparent-white);
    cursor: pointer;
    font-weight: 400;
}
/*card 2 SUVS*/
.card:nth-child(2){
    background-color: var(--color-primary-dark-cyan);
}
.card:nth-child(2) .btn{
    color: var(--color-primary-dark-cyan);
}
.card:nth-child(2) .btn:hover{
    color: var(--color-neutral-transparent-white);
    background-color: transparent;
    border: 2px solid var(--color-neutral-transparent-white);
    cursor: pointer;
}
/*card 3 LUXURY*/
.card:nth-child(3){
    background-color: var(--color-primary-very-dark-cyan);
}
.card:nth-child(3) .btn{
    color: var(--color-primary-very-dark-cyan);
}
.card:nth-child(3) .btn:hover{
    color: var(--color-neutral-transparent-white);
    background-color: transparent;
    border: 2px solid var(--color-neutral-transparent-white);
    cursor: pointer;
}

@media (max-width:960px) {
    .conteiner{
        flex-direction: column;
        width: 60%;
        align-items: center;
        max-width: 350px;
        margin-top: 9vh;
    }
    .card{
        width: 100%;
        border-bottom-left-radius:0rem;
        border-top-right-radius: .5rem;
    }
    .card:nth-child(3){
        border-top-right-radius: 0rem;
        border-bottom-left-radius: .5rem;
    }
}